<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}" type="text/css" />
</head>

<body>
  
  <div class="top_navigation_bar">
    <a id="current_navigation_button" href="index.html">Homepage</a>
    <a href="support.html">Support</a>
  </div>

  <div id="role_selector">
    <h2>Are you a;</h2>
    <div>
      <a href="pupil_home.html" class="role_options">Pupil</a>
      <a href="teacher_home.html" class="role_options">Teacher</a>
      <a href="staff_home.html" class="role_options">Library Staff Member</a>
    </div>
  </div>

  <div>
    <h3 style="margin-top:50px">Usage Guide:</h3>
    <p>If you haven't used this system before, simply select the above option that best applies to you and fill in your login credentials. If you are still confused, please head over to our support page and we should be able to help you from there.</p>
  </div>
  
</body>

</html>